/* Layout geral */
.cliente-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #fafafa;
}

/* Conteúdo principal */
.cliente-main {
  flex: 1;
  width: 95%;
  max-width: 1200px;
  margin: 90px auto 40px auto;
 
}

/* Footer */
.cliente-footer {
  background: #fff;
  text-align: center;
  padding: 16px;
  font-size: 0.9rem;
  color: #555;
  border-top: 1px solid #eee;
}
